HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/

### Local env ###
.env
.env.*
!.env.example
*.log

### OS ###
.DS_Store
Thumbs.db

### QueryDSL ###
src/main/generated/
